:root {
    --primary-blue: #08A6E4;
    --secondary-black: #000000;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --third-grey: #A5A5A5;
    --forth-red: #FB3B64;
    --fifth-green: #55DFB4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --button-radius: 35px;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


.container1 {}

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header__wrapper {
    height: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper .logo__text {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-blue);
    text-decoration: none;
    margin-left: 136px;
}

.header__wrapper .menu {
    display: flex;
    margin-right: 136px;
}
.header__wrapper .menu__item {
    color: var(--third-grey);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 28px 18px 22px;
    letter-spacing: 0.1875rem;
}

.header__wrapper .menu__item:hover {
    color: var(--secondary-black);
    border-color: var(--primary-blue);
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content {
    margin-top: 130px;
    text-align: center;
}
.main__wrapper .text__hdl{
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}
.main__wrapper .text__lead{
    margin-top: 20px;
    margin-bottom: 38px;
}
.opening__image {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}
.btn--primary {
    background-color: var(--primary-blue);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px var(--color-primary-shadow);
    text-decoration: none;
}

.btn--large {
    padding: 22px 155px;
}
.container {
    margin-top: 100px;
}

.statistic__title {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.statistics__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;

}
.statistic__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);

}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__img {
    position: absolute;
}

.statistics__single:nth-child(1) .statistics__circle {
    background-color: var(--forth-red);
}
.statistics__single:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}
.statistics__single:nth-child(2) .statistics__circle {
    background-color: var(--primary-blue);
}
.statistics__single:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}
.statistics__single:nth-child(3) .statistics__circle {
    background-color: var(--fifth-green)
}
.statistics__single:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}
.statistics__number {
    font-family: var(--font-raleway);
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .1875rem;
    margin-top: 13px;
}
.statistics__description {
    color: var(--third-grey);
    margin-top: 19px;
    text-align: center;
}



