
.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
}
.btn--primary {
  background-color: var(--primary-blue);
  border-radius: var(--button-radius);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
  text-decoration: none;
}

.btn--large {
  padding: 22px 155px;
}