.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__content {
  margin-top: 130px;
  text-align: center;
}
.main__wrapper .text__hdl{
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}
.main__wrapper .text__lead{
  margin-top: 20px;
  margin-bottom: 38px;
}
.opening__image {
  width: 100%;
  height: auto;
}



.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color)
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: .75rem;
  font-style: var(--font-raleway);
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}
.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../images/Checkmark-1.svg");
}
.pricing__item--not::before {
  background-image: url("../images/Close.svg")
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: .8125rem;
  background-color: var(--accent-color);
}
.pricing__box--basic {
  --accent-color: var(--forth-red);
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}

.pricing__box--professional {
  --accent-color: var(--primary-blue);
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}
.pricing__box--premium {
  --accent-color: var(--fifth-green);
}

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact__column {
  width: 50%;
}
.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}
.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: var(--third-grey);
  align-items: center;
}

.details__item {
  color: var(--third-grey);
  font-weight: 500;
  text-decoration: none;
}
.details__item:first-of-type {
  margin-right: 20px;
}
.details__item img {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__field:first-of-type {
  margin-bottom: 42px;
}
.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-blue);
  line-height: .9rem;
  letter-spacing: 3px;
  font-size: .6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--third-grey);
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-white);
  border: 1px solid var(--third-grey);
  border-radius: 4px;
}
.form__checkbox input:checked ~ .checkbox {
  background-image: url("../images/Checkmark.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: .75rem;
  color: var(--third-grey);
  line-height: 17px;
}

.form .btn {
  font-size: .8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}
